@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    margin: 0;
}

hr {
    width: 100%;
    margin: 0;
    padding: 0;
    color: grey;
}

.navbar {
    background-color: white;
    padding: 0 32px;
    text-align: center;
}

.navbar h1 {
    color: #333;
    display: inline-block;
    text-align: left;
}

.navbar ul {
    display: inline-flex;
    gap: 20px;
}


.navbar li {
    list-style-type: none;
    margin: 10px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: #333;
}

#strength-details {
    margin: 0 20px;
    padding: 12px;
    text-align: center;
}

.form-container h2 {
    font-weight: 800;
    text-align: center;
    margin-top: 62px;
}

form {
    text-align: center;
}

.input-container {
    position: relative;
    display: inline-block;
    width: 300px;
}

input {
    width: 40vh;
}

input#password {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    box-sizing: border-box;
    font-size: 1rem;
}

#toggle-view {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-70%);
    background: none;
    border: none;
    outline: none;
}

input, button {
    border-style: solid;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button#generate {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

#options-wp {
    background-color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 26px;
    padding: 40px;
    border: 1px black solid;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
}

#options-wp h3 {
    margin: 0 0 20px;
}

#password-options input {
    margin: 0;
    padding: 0;
    width: 32px;
    cursor: pointer;
    display: block;
}

#password-options label {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#custom-strength {
    color: white;
    background-color: #4CAF50;
    margin-right: 40px;
    appearance: none;
    padding: 6px;
    width: 6%;
    text-align: center;
    border-radius: 20px;
}

#custom-strength:hover, #custom-strength:focus {
    cursor: pointer;
    outline: none;
}

.password-container {
    text-align: center;
    margin-top: 50px;
}

#img-centered {
    width: 100%;
    height: 100%;
    margin: auto;
}

footer {
    color: grey;
    text-align: center;
    bottom: 0;
}