@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    margin: 0;
}

hr {
    width: 100%;
    margin: 0;
    padding: 0;
    color: grey;
}

.navbar {
    background-color: white;
    padding: 0 32px;
    text-align: center;
}

.navbar h1 {
    color: #333;
    display: inline-block;
    text-align: left;
}

.navbar ul {
    display: inline-flex;
    gap: 20px;
}


.navbar li {
    list-style-type: none;
    margin: 10px;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}