{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="form-container">
    <h2>{{ title }}</h2>
    <form method="POST" id="password-form">
        <div class="input-container">
            <input type="password" name="password" id="password" placeholder="Enter your password…" required>
            <button type="button" id="toggle-view"><img src="/static/images/password_show.svg" width=20px height=20px id="toggle-image"></img></button>
        </div>
        <button type="button" id="check-strength">Check Strength</button>
    </form>
</div>
<div id="strength-details">
    <h3>Password Details</h3>
    <div id="entropy-table"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}