{% extends "base.html" %}

{% block title %}Generate Password{% endblock %}

{% block content %}
<div class="form-container">
    <h2>{{ title }}</h2>
    <form method="POST">
        <label for="length">Select Password Length:</label>
        <select name="length" id="length" required>
            <option value="8">8</option>
            <option value="12" selected>12</option>
            <option value="16">16</option>
            <option value="20">20</option>
            <option value="24">24</option>
            <option value="32">32</option>
            <option value="64">64</option>
        </select>
        <button type="submit" id="generate" onclick="customGenerate(event)">Generate</button>
    </form>
</div>
<div id="options-wp">
    <h3>Custom Generation</h3>
    <hr><br>
    <div id="password-options">
        <label><input type="checkbox" name="uppercase" class="custom-checkbox">Uppercase</label>
        <label><input type="checkbox" name="lowercase" class="custom-checkbox">Lowercase</label>
        <label><input type="checkbox" name="numbers" class="custom-checkbox">Numbers</label>
        <label><input type="checkbox" name="symbols" class="custom-checkbox">Symbols</label>
    </div>
</div>
<div class="password-container" style="display: none;" id="password-container">
    <h3>Your Password:</h3>
    <input id="password-gen" type="text" readonly>
    <button id="copy" onclick="copyText()">Copy</button>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/generate.js') }}"></script>
{% endblock %}